*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#bg{  
  background-color:black;
  background-image: linear-gradient(to bottom right,indigo, #ff6699);
  background-size:auto;
  height:device-height;
  background-repeat:no-repeat;
  }
body{
  font-family:Arial;
  color:white;
  margin-top:10%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:auto;
  text-shadow:  0 0 5px black;
  display:block;
  }
h1{
  text-align:center;
  font-size:180%
  }
select{
  font-size:120%;
  border-radius:2%;
  padding:3%;
  border:3px solid violet;
  background-color: #4d4d4d;
  color:white;
  text-weight:bold;
  }
label{
  font-size:160%;
  font-weight:bold;
  text-align:left;
  }
input[type="number"]{
  width:45%;
  height:8.5%;
  text-align:center;
  font-size:130%;
  font-weight:bold;
  padding:2%;
  border-radius:5%;
  border:3px solid violet;
  color:white;
  background-color:black;
  }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
button{
  background-color: violet;
  border:2px solid indigo;
  border-radius:10px;
  font-size:100%;
  text-align:center;
  font-weight:bold;
  padding:2%;
  }
a{
  color:black;
  text-decoration: underline;
  }
div.a{
  margin-left:15%;
  margin-right:15%;
  }
div.c{
  margin-top: 1rem;
  margin-bottom:1rem;
  height:15px;
  width:15px;
  }
div.i{
  margin-top: 1rem;
  margin-bottom:1rem;
  height:15px;
  width:15px;
  }
.maths{
  position: relative;
  right:-26.2%;
  }
.chemistry{
  position: relative;
  right:-8.1%;
  }
.physics{
  position: relative;
  right:-20%;
  }
.result{
  position: relative;
  right:-21%;
  }
.biology{
  position: relative;
  right:-21%;
  }
.botany{
  position: relative;
  right:-22.5%;
  }
.zoology{
  position: relative;
  right:-18%;
  }
  
  
@media only screen and (min-width: 768px){
  #bg{  
  background-color:black;
  background-image: linear-gradient(to bottom right,indigo, #ff6699);
  background-size:auto;
  height:device-height;
  background-repeat:no-repeat;
  }
  body{
  font-family:Arial;
  color:white;
  margin-top: auto;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:auto;
  text-shadow:  0 0 10px black;
  display:block;
  }
  h1{
  margin-top:5%;
  text-align:center;
  font-size:250%
  }
  select{
  font-size:220%;
  border-radius:2%;
  padding:4px;
  border:3px solid violet;
  text-weight:bold;
  }
  div.c{
  margin-top:5px;
  margin-bottom:5px;
  height:15px;
  width:15px;
  }
  button{
  color: ;
  background-color:violet;
  border-radius:10px;
  font-size:160%;
  padding:4px;
  border:3px solid indigo;
  }
  label{
  font-size:260%;
  font-weight:bold;
  text-align:left;
  margin-left:23%;
  }
  input[type="number"]{
  width:13%;
  height:6.9%;
  text-align:center;
  font-size:180%;
  font-weight:bold;
  padding:2.5px;
  border-radius:5%;
  border:3px solid violet;
  }
.maths{
  position: relative;
  right:-22.4%;
  }
.chemistry{
  position: relative;
  right:-14.7%;
  }
.physics{
  position: relative;
  right:-19.5%;
  }
.result{
  position: relative;
  right:-20%;
  }
.biology{
  position: relative;
  right:-20%;
  }
.botany{
  position: relative;
  right:-21.1%;
  }
.zoology{
  position: relative;
  right:-19%;
  }
}
  
  
